/* @import url("https://fonts.googleapis.com/css?family=Muli&display=swap"); */

@font-face {
  font-family: "ExtraLight";
  src: local("Muli-ExtraLight"),
    url("./fonts/Muli-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraLightItalic";
  src: local("Muli-ExtraLightItalic"),
    url("./fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold";
  src: local("Muli-ExtraBold"),
    url("./fonts/Muli-ExtraBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "ExtraBoldItalic";
  src: local("Muli-ExtraBoldItalic"),
    url("./fonts/Muli-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "BoldItalic";
  src: local("Muli-BoldItalic"),
    url("./fonts/Muli-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Muli-Bold"), url("./fonts/Muli-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Black";
  src: local("Muli-Black"), url("./fonts/Muli-Black.ttf") format("truetype");
}

@font-face {
  font-family: "BlackItalic";
  src: local("Muli-BlackItalic"),
    url("./fonts/Muli-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Italic";
  src: local("Muli-Italic"), url("./fonts/Muli-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Muli-Light"), url("./fonts/Muli-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "LightItalic";
  src: local("Muli-LightItalic"),
    url("./fonts/Muli-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Muli-Regular"), url("./fonts/Muli-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SemiBold";
  src: local("Muli-SemiBold"),
    url("./fonts/Muli-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SemiBoldItalic";
  src: local("Muli-SemiBoldItalic"),
    url("./fonts/Muli-SemiBoldItalic.ttf") format("truetype");
}

:root {
  font-family: "Muli", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #e34234;
  --color-secondary: #0e0f4d;
  --color-secondary-dark: #141c3a;
  --color-secondary-light: #0d698b;
  --color-light: #f2f1e8;
  --color-gray: #A6A6A;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: inherit;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

#root {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.block {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.block--header {
}

/* Navbar */

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.nav-title-container {
  display: flex;
  align-items: center;
}

.nav-title {
  font-weight: 300;
  font-size: 24px;
  color: var(--color-secondary-dark);
  justify-self: flex-start;
  margin-left: 12px;
}

.nav-container {
  display: flex;
}

.nav-container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
.nav-container ul li {
  padding: 0 15px;
  list-style: none;
}

.nav-container ul li a {
  font-weight: 500;
  color: var(--color-secondary-dark);
  cursor: pointer;
}

.language-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-separator {
  color: var(--color-secondary-dark);
  font-weight: 500;
}

.language-option {
  color: var(--color-secondary-dark);
  padding: 0 5px;
  cursor: pointer;
}

.language-option:hover {
  font-weight: 500;
}

.language-flag {
  margin-left: 12px;
  width: 25px;
  height: 25px;
}
