.main {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* width: 100%;
  max-width: 1440px;
  margin: 0 auto; */
}

.main__hr {
  width: 100%;
  max-width: 1600px;
}
@media (min-width: 1024px) {
  .main__hr {
    margin: 0 auto;
  }
}

.block {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Intro */

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.intro__particles {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__about-container {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__about-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .intro__about-content {
    flex-direction: row;
  }
}

.intro__about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro__about-title {
  font-size: 50px;
  font-weight: 600;
  color: var(--color-primary);
}

@media (min-width: 640px) {
  .intro__about-title {
    font-size: 60px;
  }
}

@media (min-width: 1024px) {
  .intro__about-title {
    font-size: 80px;
  }
}

.intro__about-title--desktop {
  display: none;
}

.intro__about-title--mobile {
  order: 1;
}

@media (min-width: 800px) {
  .intro__about-title {
    font-size: 70px;
  }

  .intro__about-title--desktop {
    display: block;
    align-self: flex-start;
  }
  .intro__about-title--mobile {
    display: none;
  }
}

.intro__about-description {
  font-size: 24px;
  max-width: 500px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-secondary-dark);
}

@media (min-width: 480px) {
  .intro__about-description {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 1024px) {
  .intro__about-description {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (min-width: 800px) {
  .intro__about-description {
    font-size: 40px;
    line-height: 50px;
    max-width: none;
    text-align: left;
  }
}

.intro__about-avatar {
  width: 200px;
  height: 200px;
  margin: 20px 0;
}

@media (min-width: 480px) {
  .intro__about-avatar {
    width: 300px;
    height: 300px;
    margin: 40px 0;
  }
}

@media (min-width: 800px) {
  .intro__about-avatar {
    margin-left: 20px;
    width: auto;
    height: auto;
  }
}

/* Header */

.header {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* Navbar */

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  color: var(--color-secondary-dark);
}

.nav__title-container {
  display: flex;
  align-items: center;
}

.nav__title-container svg {
  width: 10px;
  height: 20px;
}

@media (min-width: 900px) {
  .nav__title-container svg {
    width: 13px;
    height: 23px;
  }
}

.nav__title {
  display: flex;
  align-items: center;
  /* background-size: 100% 8px;
  background-repeat: no-repeat;
  background-position: 100% 90%;
  transition: background-position 0.15s linear; */
}

/* .nav__title:hover {
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  background-position: 100% 80%;
  transition: background-position 0.15s linear;
} */

@media (min-width: 1024px) {
  .nav__title:hover .nav__title-name::after {
    width: 100%;
  }

  .nav__title:hover svg path {
    fill: var(--color-secondary-dark);
    transition: fill 0.5s ease;
  }
}

.nav__title-name {
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 20px;
  margin-left: 8px;
  color: var(--color-alternative-bis);
  text-decoration: none;
}

.nav__title-name::after {
  position: absolute;
  bottom: 8px;
  content: "";
  display: block;
  width: 0;
  height: 7px;
  background: var(--color-primary);
  transition: width 0.5s ease;
  z-index: -1;
}

@media (min-width: 900px) {
  .nav__title-name {
    font-size: 24px;
    margin-left: 12px;
  }
}

.nav__container {
  font-size: 18px;
  display: none;
}
@media (min-width: 800px) {
  .nav__container {
    display: flex;
  }
}

@media (min-width: 900px) {
  .nav__container {
    font-size: 24px;
  }
}

.nav__container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
.nav__container ul li {
  padding: 0 15px;
  list-style: none;
}

.nav__container ul li a {
  font-weight: 500;
  cursor: pointer;
}

.nav__container ul li a:hover {
  color: var(--color-secondary-light);
  cursor: pointer;
}

/* Mobile Menu */

.mobile-menu {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; */
}

@media (min-width: 800px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__icon {
  position: absolute;
  top: 21px;
  right: 23px;
  z-index: 9999;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .mobile-menu__icon {
    display: none;
  }
}

.mobile-menu__icon.open {
  transform: rotate(90deg);
}

.hamburger-rotate {
  transform: rotate(45deg);
}

.hamburger-mobile {
  fill: var(--color-secondary-dark);
}

.cross-mobile {
  fill: var(--color-secondary-dark);
}

/* Menu mobile overlay */
.mobile-menu__overlay {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  color: var(--color-secondary-dark);
  transform: translateX(120%);
  transition: transform 0.5s ease-out, opacity 0.2s ease-in;
  opacity: 0;
  overflow-y: hidden;
  z-index: 999;
}

.mobile-menu__overlay--visible {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.2s ease-in;
}

.mobile-menu__overlay ul {
  padding-left: 20px;
  list-style: none;
}

.mobile-menu__overlay ul li {
  list-style: none;
}

.mobile-menu__overlay ul li a {
  font-size: 40px;
  font-weight: 500;
}

.mobile-menu__language {
  width: 100%;
  margin: 70px auto 0;
}

.mobile-menu__language .language .language__option {
  font-size: 36px;
}

.mobile-menu__language .language .language__separator {
  font-size: 36px;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language__separator {
  color: var(--color-secondary-dark);
  font-weight: 500;
}

.language__option {
  color: var(--color-secondary-dark);
  padding: 0 5px;
  cursor: pointer;
}

.language__option:hover {
  font-weight: 500;
  color: var(--color-secondary-light);
}

.language__flag {
  margin-left: 12px;
  width: 25px;
  height: 25px;
}

.experience {
  color: var(--color-secondary-dark);
}

/* .svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

.code-snippet-vector {
  display: none;
  position: absolute;
  right: 0;
  top: 200px;
}

@media (min-width: 1280px) {
  .code-snippet-vector {
    display: block;
  }
}

.cup-vector {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 200px;
}

@media (min-width: 1280px) {
  .cup-vector {
    display: block;
  }
}

/* Social Media*/

.social-media {
  width: 25px;

  height: auto;
  position: fixed;
  left: 50px;
  bottom: 100px;
  z-index: 999;
}

.social-media__container {
  margin: 10px 0;
}

.social-media__link {
}

.social-media__icon {
  max-width: 25px;
}
.social-media__icon path {
  fill: var(--color-gray);
}

.social-media__container:hover .social-media__icon path {
  fill: var(--color-secondary-dark);
}

.experience {
}

.experience__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience__title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin: 0;
}

@media (min-width: 480px) {
  .experience__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: 800px) {
  .experience__title {
    font-size: 48px;
    line-height: 48px;
    margin: 40px 0;
  }
}

.experience__title-dot {
  color: var(--color-secondary-light);
}

.experience-item {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-item__year {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-item__year-text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin-left: 10px;
}

.experience-item__content {
}

.experience-item__content-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-secondary-dark);
}

.experience-item__content-company {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-primary);
  letter-spacing: 1px;
}

.experience-item__content-location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-gray);
}

.experience-item__content-projects {
  color: var(--color-secondary-dark);
}

.experience-item__content-projects-intro {
  font-size: 16px;
  line-height: 16px;
}

.experience-item__content-project {
  display: flex;
}

.experience-item__content-stacks {
  display: flex;
}
