.main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main__hr {
  width: calc(100% - 96px);
  opacity: 0.5;
  max-width: 1440px;
}

.block {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Intro */

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.intro__particles {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__about-container {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__about-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.intro__about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro__about-title {
  font-size: 50px;
  font-weight: 600;
  color: var(--color-primary);
}

.intro__about-title--en {
  color: var(--color-primary);
}

.intro__about-title--es {
  color: var(--color-secondary-light);
}

.intro__about-title--desktop {
  display: none;
}

.intro__about-title--mobile {
  order: 1;
}

.intro__about-description {
  font-size: 24px;
  max-width: 500px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-secondary-dark);
}

.intro__about-description p {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.intro__about-avatar {
  width: 200px;
  height: 200px;
  margin: 20px 0;
}

/* Header */

.header {
  display: flex;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 0.5px solid var(--color-gray);
}

/* Navbar */

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  color: var(--color-secondary-dark);
}

.nav__title-container {
  display: flex;
  align-items: center;
}

.nav__title-container svg {
  width: 10px;
  height: 20px;
}

.nav__title {
  display: flex;
  align-items: center;
}

.nav__title-name {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  margin-left: 8px;
  color: var(--color-alternative-bis);
  text-decoration: none;
}

.nav__title-name::after {
  position: absolute;
  bottom: 8px;
  content: "";
  display: block;
  width: 0;
  height: 7px;
  background: var(--color-primary);
  transition: width 0.5s ease;
  z-index: -1;
}

.nav__title-name--desktop {
  display: none;
}

.nav__title-name--mobile {
  display: inline-block;
}

.nav__container {
  font-size: 18px;
  display: none;
}

.nav__container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
.nav__container ul li {
  padding: 0 15px;
  list-style: none;
}

.nav__container ul li a {
  font-weight: 500;
  cursor: pointer;
}

.nav__container ul li a:hover {
  color: var(--color-secondary-light);
  cursor: pointer;
}

/* Mobile Menu */

.mobile-menu__icon {
  position: absolute;
  top: 21px;
  right: 24px;
  z-index: 9999;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu__icon.open {
  transform: rotate(90deg);
}

.hamburger-rotate {
  transform: rotate(45deg);
}

.hamburger-mobile {
  fill: var(--color-secondary-dark);
}

.cross-mobile {
  fill: var(--color-secondary-dark);
}

/* Menu mobile overlay */
.mobile-menu__overlay {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  color: var(--color-secondary-dark);
  transform: translateX(120%);
  transition: transform 0.5s ease-out, opacity 0.2s ease-in;
  opacity: 0;
  overflow-y: hidden;
  z-index: 999;
}

.mobile-menu__overlay--visible {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.2s ease-in;
}

.mobile-menu__overlay ul {
  padding-left: 1rem;
  list-style: none;
}

.mobile-menu__overlay ul li {
  list-style: none;
}

.mobile-menu__overlay ul li a {
  font-size: 40px;
  font-weight: 500;
}

.mobile-menu__language {
  width: 100%;
  margin: 70px auto 0;
}

.mobile-menu__language .language .language__option {
  font-size: 28px;
}

.mobile-menu__language .language .language__separator {
  font-size: 28px;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language__separator {
  color: var(--color-secondary-dark);
  font-weight: 500;
}

.language__option {
  color: var(--color-secondary-dark);
  padding: 0 5px;
  cursor: pointer;
}

.language__option:hover {
  font-weight: 500;
  color: var(--color-secondary-light);
}

.language__flag {
  margin-left: 12px;
  width: 25px;
  height: 25px;
}

.experience {
  color: var(--color-secondary-dark);
}

.code-snippet-vector {
  display: none;
  position: absolute;
  right: 0;
  top: 200px;
}

.cup-vector {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 200px;
}

/* Social Media*/

/*
.social-media {
  width: 25px;

  height: auto;
  position: fixed;
  left: 50px;
  bottom: 100px;
  z-index: 999;
}

.social-media__container {
  margin: 10px 0;
}

.social-media__link {
}

.social-media__icon {
  max-width: 25px;
}
.social-media__icon path {
  fill: var(--color-gray);
}

.social-media__container:hover .social-media__icon path {
  fill: var(--color-secondary-dark);
}
*/

.experience {
  position: relative;
}

.experience__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience__title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin: 60px 0 50px;
}

.experience__title-dot {
  color: var(--color-secondary-light);
}

.experience-item {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 16px;
}

.experience-item__year {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 32px;
  margin-bottom: 20px;
}

.experience-item__year-line {
  position: absolute;
  top: 0;
  left: 62%;
  width: 2px;
  height: calc(100% - 24px);
  transform: translateY(32px);
  background-color: var(--color-secondary-dark);
}

.experience-item__year-text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin-left: 10px;
}

.experience-item__content {
  height: auto;
}

.experience-item__content-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin-bottom: 12px;
}

.experience-item__content-company {
  font-weight: 400;
  color: var(--color-primary);
  letter-spacing: 1px;
}

.experience-item__content-company:hover {
  color: var(--color-secondary-light);
}

.experience-item__content-location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-gray);
  margin-bottom: 24px;
}

.experience-item__content-location-text {
  font-size: 14px;
  line-height: 14px;
  margin-left: 5px;
}

.experience-item__content-projects {
  color: var(--color-secondary-dark);
}

.experience-item__content-projects-intro {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 18px;
}

.experience-item__content-project {
  display: flex;
  margin-bottom: 16px;
}

.experience-item__content-project-svg {
  display: flex;
  padding-top: 3px;
}

.experience-item__content-project-item {
  font-size: 16px;
  line-height: 18px;
  margin-left: 4px;
}

.experience-item__content-stacks {
  width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
  display: flex;
  margin: 24px 0;
}

.experience-item__content-stacks::-webkit-scrollbar {
  display: none; /* hide scrollbar in WebKit-based browsers */
}

.experience-item__content-stack {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  background-color: var(--color-light);
  margin: 0px 8px;
  padding: 7px 12px;
  border: 1px solid var(--color-light);
  border-radius: 40px;
}

.experience__end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-secondary-dark);
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
  max-width: 600px;
}
.experience__end-circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--color-secondary-dark);
  margin-right: 10px;
}

.phone-vector {
  display: none;
  position: absolute;
  right: 80px;
  bottom: 20%;
}

.trapezoid-vector {
  display: none;
  position: absolute;
  left: 80px;
  top: 20%;
}

/* Tech section */

.tech__title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin: 100px 0 16px;
  text-align: center;
}

.tech__title-dot {
  color: var(--color-secondary-light);
}

.tech__slider {
  width: 100%;
}

.tech-marquee {
  width: 100%;
  margin: 0 auto 60px;
  font-size: 32px;
  font-weight: 300;
  color: var(--color-gray);
}

.tech-marquee__marquee .overlay {
  --gradient-color: rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) !important;
  --gradient-width: 15px !important;
}

.tech-marquee__marquee .marquee {
  --duration: 40s !important;
}

/* About section */

.about {
  position: relative;
  padding-bottom: 4rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin: 50px 0 50px;
}

.about__title-dot {
  color: var(--color-secondary-light);
}

.about__description {
  width: 100%;
  color: var(--color-secondary-dark);
  margin-bottom: 30px;
}

.about__description p {
  margin-bottom: 24px;
  white-space: pre-line;
  font-size: 18px;
  line-height: 22px;
}

.about__description a {
  color: var(--color-secondary-light);
}

.about__description a:hover {
  color: var(--color-primary);
}

.quarter-vector {
  display: none;
  position: absolute;
  right: 80px;
  bottom: 20%;
  transform: rotate(270deg);
}

.rounded-rectangle-vector {
  display: none;
  position: absolute;
  left: 80px;
  top: 20%;
}

/* Quotes */
.quotes {
  color: var(--color-secondary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.quotes__item {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  margin: 1rem 0;
  letter-spacing: 3px;
}

.quotes__item-left-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  left: -12px;
}

.quotes__item-right-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  position: absolute;
  top: -5px;
  right: -12px;
}

/* Footer */

.footer {
  position: relative;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  color: var(--color-secondary-dark);
  margin: 40px 0;
}

.footer__email {
  margin-bottom: 22px;
}

.footer__email-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: var(--color-secondary-dark);
  text-decoration: none;
}

.footer__email-link-arrow {
  display: none;
}

.footer__email-link::after {
  display: block;
  position: absolute;
  bottom: 2px;
  height: 5px;
  content: "";
  width: 0;
  background: var(--color-primary);
  transition: width 0.75s ease;
  z-index: -1;
  width: 100%;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer__social-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer__social-title {
  color: var(--color-secondary-dark);
  font-weight: 500;
  font-size: 20px;
}

.footer__social-hr {
  display: none;
  width: 28px;
  height: 1px;
  background: var(--color-gray);
  margin: 0 5px;
}

.footer__social-link {
  display: flex;
  color: var(--color-gray);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

.footer__social-link:hover .arrow-link-vector {
  animation: jump-shaking 0.85s infinite;
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-3px);
  }
  35% {
    transform: translateY(-3px) rotate(17deg);
  }
  55% {
    transform: translateY(-3px) rotate(-17deg);
  }
  65% {
    transform: translateY(-3px) rotate(17deg);
  }
  75% {
    transform: translateY(-3px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.arrow-link-vector {
  padding: 0 5px;
}

.footer__copyright {
  margin: 40px auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--color-secondary-dark);
}

.footer__copyright-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright-year {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
}

.copyright-vector {
  width: 15px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

/* Media queries - breakpoints */

@media (min-width: 480px) {
  .intro__about-description {
    font-size: 30px;
    line-height: 40px;
  }

  .intro__about-description p {
    font-size: 30px;
    line-height: 40px;
  }

  .intro__about-avatar {
    width: 300px;
    height: 300px;
    margin: 40px 0;
  }

  .experience__title {
    font-size: 36px;
    line-height: 36px;
  }

  .experience-item__content-title {
    line-height: 20px;
  }

  .experience-item__content-title br {
    display: none;
  }

  .tech__title {
    font-size: 36px;
    line-height: 36px;
  }

  .about__title {
    font-size: 36px;
    line-height: 36px;
  }

  .footer__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: 640px) {
  .intro__about-title {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .experience-item {
    flex-direction: row;
  }

  .experience-item__year {
    margin-bottom: 0;
  }

  .experience-item__content-title {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: 800px) {
  .intro__about-content {
    flex-direction: row;
  }

  .intro__about-title {
    font-size: 70px;
  }

  .intro__about-title--desktop {
    display: block;
    align-self: flex-start;
  }

  .intro__about-title--mobile {
    display: none;
  }

  .intro__about-description {
    font-size: 40px;
    line-height: 50px;
    max-width: none;
    text-align: left;
    padding-right: 1rem;
  }

  .intro__about-avatar {
    margin-left: 20px;
    width: auto;
    height: auto;
  }

  .header {
    position: absolute;
    background-color: transparent;
    border-bottom: none;
  }

  .nav__container {
    display: flex;
  }

  .nav__title-name--desktop {
    display: inline-block;
  }

  .nav__title-name--mobile {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu__icon {
    display: none;
  }

  .experience__title {
    font-size: 48px;
    line-height: 48px;
    margin: 80px 0;
  }

  .tech__title {
    font-size: 48px;
    line-height: 48px;
    margin: 160px 0 20px;
  }

  .tech-marquee {
    width: 800px;
    font-size: 48px;
    margin: 0 auto 120px;
  }

  .tech-marquee__marquee .overlay {
    --gradient-color: rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) !important;
    --gradient-width: 200px !important;
  }

  .tech-marquee__marquee .marquee {
    --duration: 50s !important;
  }

  .about__title {
    font-size: 48px;
    line-height: 48px;
    margin: 80px 0;
  }

  .about {
    position: relative;
    padding-bottom: 6rem;
  }

  .about__description {
    width: calc(800px - 48px);

    margin-bottom: 40px auto;
  }

  .about__description p {
    font-size: 24px;
    line-height: 28px;
  }

  .quotes__item {
    font-size: 24px;
  }
  .quotes {
    padding-bottom: 80px;
  }

  .footer__title {
    font-size: 48px;
    line-height: 48px;
    margin: 50px 0;
  }

  .footer__container {
    align-items: flex-start;
  }

  .footer__email-link {
    font-size: 24px;
  }

  .footer__email-link::after {
    bottom: 0px;
    height: 7px;
  }

  .footer__social-hr {
    display: block;
  }

  .footer__social-item {
    flex-direction: row;
  }

  .footer__social-link {
    font-size: 16px;
  }

  .footer__copyright-text {
    font-size: 18px;
    line-height: 20px;
  }

  .footer__copyright-year {
    font-size: 18px;
    line-height: 20px;
  }
  .copyright-vector {
    width: auto;
    height: auto;
  }
}

@media (min-width: 900px) {
  .nav__title-container svg {
    width: 13px;
    height: 23px;
  }

  .nav__title-name {
    font-size: 24px;
    margin-left: 12px;
  }

  .nav__container {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .main__hr {
    margin: 0 auto;
  }

  .intro__about-title {
    font-size: 80px;
  }

  .intro__about-description {
    font-size: 48px;
    line-height: 60px;
  }

  .intro__about-description p {
    font-size: 48px;
    line-height: 60px;
  }

  .nav__title:hover .nav__title-name::after {
    width: 100%;
  }

  .nav__title:hover svg path {
    fill: var(--color-secondary-dark);
    transition: fill 0.5s ease;
  }

  .footer__email:hover .footer__email-link::after {
    width: 0;
  }
  .footer__email:hover .footer__email-link {
    color: var(--color-gray);
    font-weight: 300;
  }
  .footer__email:hover .footer__email-link-arrow {
    display: inline-block;
    animation: jump-shaking 1s infinite;
  }
}

@media (min-width: 1280px) {
  .code-snippet-vector {
    display: block;
  }

  .cup-vector {
    display: block;
  }

  .phone-vector {
    display: block;
  }

  .trapezoid-vector {
    display: block;
  }

  .quarter-vector {
    display: block;
  }

  .rounded-rectangle-vector {
    display: block;
  }
}
